@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #f9f9f9;
  --color-brand-primary: rgba(24, 182, 246, 1);
  --color-brand-secondary: rgb(172, 126, 244);
  --color-text: #292929;
  --color-code: rgba(0, 0, 0, 6%);

  --max-width: 1200px;
}

img,
video,
iframe {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  font-family: "Nunito", "Helvetica", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100%;
  height: 100%;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:not([class]),
a[class=""] {
  color: var(--color-text);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--color-brand-primary);
}

h1 {
  @apply text-4xl font-bold text-gray-900 py-6 sm:py-2 mb-4;
}

h2 {
  @apply text-2xl font-bold text-gray-900 py-6 sm:py-2 underline;
}

h3 {
  @apply text-xl font-bold text-gray-900 py-6 sm:py-2;
}

p {
  @apply mb-6 md:text-lg;
}

figure {
  @apply mb-6;
}

.custom-link {
  @apply gap-2 inline-flex items-center px-4 py-2 mt-2 mb-4 text-sm font-medium text-gray-500 hover:text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100;
}

pre {
  @apply my-4 max-w-[90vw] sm:max-w-[330px] md:max-w-[450px] lg:max-w-[90vw];
}

pre code {
  padding: 1em;
  display: block;
  border: 1px solid black;
}

code {
  font-family: Consolas, Menlo, Monaco, source-code-pro, monospace;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 1rem;
}

:not(pre) > code {
  background: var(--color-code);
  border-radius: 2px;
  color: var(--color-text);
  padding: 2px 4px;
  white-space: normal;
}
